[alias]
  prune = fetch --prune
  undo = reset --soft HEAD^
  stash-all = stash save --include-untracked
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[color]
	ui = true
[user]
	email = evenfrosty@gmail.com
	name = evenfrost
[core]
	editor = code --wait
[push]
	default = simple
  followTags = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOT
[merge]
	tool = sublime
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
[pull]
	rebase = true
[mergetool]
	keepBackup = false
[status]
  showUntrackedFiles = all
